.bg-image {
    display: flex;
    align-items: center;
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
}

.content {
    align-items: center;
    justify-content: center;
}

.remaining-text {
    font-size: 20px;
    font-weight: 600;
}

.card-count {
    width: 220px;
    height: 80px;
    border: 7px solid #D9D7D9;
    background-color: #182224;
    color: #3EE9D8;
    border-radius: 40px;
    margin-top: 1rem;
}

.timer {
    font-size: 40px;
}

.assigned-color {
    margin: auto;
    width: 80%;
    font-size: 30px;
    color: #FFF;
    margin-bottom: 1rem;
    text-shadow: black 0.1em 0.1em 0.2em
}

.btn {
    width: 130px;
    height: 40px;
}

@media only screen and (max-width: 991px) {
    .bg-image {
        height: 40vh;
    }
}

@media only screen and (max-width: 418px) {
    .bg-image {
        height: 50vh;
    }
}

@media only screen and (max-width: 360px) {
    .bg-image {
        height: 60vh;
    }
}